body {
    background-image: url('../../assets/netflix_backgroundjpg.jpg');
}

.flex-container {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}